#loadSpinner{
  height: 30px;
  width: 30px;
  border-width: 5px;
  border-color: white;
  border-radius: 100%;
  border-style: solid;
  float: right;
  border-top: thick solid  green;
  -webkit-animation: spin 1s infinite linear;
  display: none;

}

@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}



.output-wrapper{
  margin-top: 50px;
}

.slidecontainer {
    width: 100%; /* Width of the outside container */
}

.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    border-radius: 5px;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}
